@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Machines Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This machine does not contain any engineers</p>
}
else
{
  <h4>Engineers the machines contains:</h4>
  <ul>
    @foreach (var join in Model.JoinEntities)
    {
      <li>@join.Engineer.Name</li>
    }
  </ul>
}
<p>@Html.ActionLink("Back to Machines", "Index")</p>
<p>@Html.ActionLink("Edit Machines", "Edit", new { id = Model.MachineId})</p>
<p>@Html.ActionLink("Delete machine", "Delete", new { id = Model.MachineId })</p>

