@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Machines Details</h2>
<div>
  <hr />
  <dl class="dl-horizontal">
    <dd>
      @Html.DisplayFor(model => model.Name)
    </dd>

    @if(@Model.JoinEntities.Count == 0)
    {
      <dt>
        This machine does not contain any engineers
      </dt>
    }
    else
    {
        @foreach (var join in Model.JoinEntities)
        {
          <dd>
              @join.Engineer.Name
          </dd>
        }
    }
  </dl>
</div>
<p>
  @Html.ActionLink("Back to Machines", "Index") |
  @Html.ActionLink("Edit Machines", "Edit", new { id = Model.MachineId}) |
  @Html.ActionLink("Delete machine", "Delete", new { id = Model.MachineId })
</p>

