@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer


<h3>Engineer Details</h3>
<hr />
<dl class="dl-horizontal">
  <dt>
    <h3>@Html.DisplayFor(model => model.Name)</h3>
  </dt>
</dl>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This Engineer has not been assigned a machine</p>
}
else
{
    @foreach (var join in Model.JoinEntities)
    {
      <p>@join.Machine.Name</p>
      @using (Html.BeginForm("DeleteMachine", "Machines"))
      {
        @Html.Hidden("joinId", @join.MachineEngineerId)
        <input type="submit" value="Delete" class="btn btn-danger" />
      }
    }
}


<div>
@Html.ActionLink("Add a Machine", "AddMachine", new { id = Model.EngineerId }) |
@Html.ActionLink("Back to list", "Index") |
@Html.ActionLink("Edit Engineer", "Edit", new { id = Model.EngineerId }) |
@Html.ActionLink("Delete Engineer", "Delete", new { id = Model.EngineerId})
</div>