@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<div>
  <h2>Engineer Details</h2>
  <hr />
  <dl class="dl-horizontal">
    <dt>
      @Html.DisplayFor(model => model.Name)
    </dt>

    @if(@Model.JoinEntities.Count == 0)
    {
      <p>This Engineer has not been assigned a machine</p>
    }
    else
    {
      <table class="table">

        @foreach (var join in Model.JoinEntities)
        { <tr>
            <td>
              @join.Machine.Name
              <hr />
                @using (Html.BeginForm("DeleteMachine", "Engineer"))
              {
                @Html.Hidden("joinId", @join.MachineEngineerId)
                <div class="form-group">
                  <div class="col-md-offset-2 col-md-10">
                  <input type="submit" value="Save" class="btn btn-default" />
                  </div>
                </div>
              }
            </td>
          </tr>
        }
      </table>
    }
  </dl>
</div>

<div>
@Html.ActionLink("Add a Machine", "AddMachine", new { id = Model.EngineerId })
@Html.ActionLink("Back to list", "Index")
@Html.ActionLink("Edit Engineer", "Edit", new { id = Model.EngineerId })
@Html.ActionLink("Delete Engineer", "Delete", new { id = Model.EngineerId})
</div>